@import url(/resources/css/layouts/admin-layout.css);
@import url(/resources/css/components/alerts.css);

.form-visitor {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
}
.type-vistor {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
    margin-top: 3rem;

    animation: slideInDown 0.5s ease-out 0.1s both;
}
.group-radio {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-primary);
    font-family: var(--font-main);
    cursor: pointer;
}
.group-radio input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 3px solid var(--contrast-color-E);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.group-radio input[type="radio"]:checked {
    background: var(--contrast-color-D);
    box-shadow: 0 0 10px var(--contrast-color-D);
    border-color: var(--contrast-color-E);
}

.form-group {
    width: 700px;

    padding: 1.5rem 1.7rem;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    border: 2px solid transparent;
    border-radius: 20px;
    border-image: linear-gradient(to top, var(--contrast-color-E), transparent)
        1;
    border-bottom: 3.1px solid var(--contrast-color-E);

    animation: scaleIn 0.5s ease-out 0.2s both;
}
.form-group label {
    display: block;
    color: var(--text-primary);
    margin-bottom: 5px;
    margin-left: 10px;
    font-family: var(--font-main);
    font-size: 0.9rem;
}
.form-group input,
.form-group select {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}
.form-group select {
    width: 60%;
    align-self: center;
    margin-bottom: 0px;
    text-align: center;
}
.form-group label[for="genero"] {
    align-self: center;
    margin-left: -21rem;
}

#container-matricula {
    max-height: 150px;
    opacity: 1;
    overflow: hidden;
    transition:
        max-height 0.4s ease-in-out,
        opacity 0.3s ease-in-out,
        margin 0.4s;
}
.hidden-field {
    max-height: 0 !important;
    opacity: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    pointer-events: none;
}

/* --- Animaciones de entrada -- */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 650px) {
    .main-content {
        margin-left: 0;
        margin-top: 50px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    .text-main {
        font-size: 1.6rem;
        margin-bottom: 35px;
        margin-top: 35px;
    }

    .form-visitor {
        position: static;
        transform: none;
        width: 100%;
        margin-top: 2rem;
    }

    .form-group {
        width: 80%;
        padding: 1.5rem 1rem;
    }

    .type-vistor {
        gap: 1.5rem;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    .form-group select {
        width: 80%;
    }

    .form-group label[for="genero"] {
        margin-left: -12rem;
        align-self: center;
    }

    .btn-primary {
        font-size: 0.9rem;
        width: 60%;
        max-width: 240px;
        margin-top: 4rem;
    }
}

/* ToolTip*/
.tooltip-container {
    margin-top: 1rem;
}
