@import url(/resources/css/tokens.css);
@import url(/resources/css/layouts/admin-layout.css);

/* ---- Modal Editar Proyecto ---- */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}
.modal-content {
    position: relative;
    width: 100%;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: scale(0.95);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}
.modal-content .expo-card {
    margin-bottom: 3rem;
    background: var(--bg-card);
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-content .text-main {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
}

.close-modal {
    position: absolute;
    top: 30px;
    right: -40px;
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 10000;
    transition: transform 0.2s;
}
.close-modal:hover {
    transform: scale(1.1);
}

/* ----Form de registro ----*/
.expo-card {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    width: 640px;
    height: 500px;
    position: relative;

    border-radius: 18px;
}
.expo-card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px 3px 3px 1.5px;
    border-radius: 18px;

    background: conic-gradient(
        from -70deg,
        var(--contrast-color-C),
        var(--contrast-color-D),
        var(--contrast-color-E),
        var(--contrast-color-E)
    );

    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    box-shadow:
        0 0 12px rgba(127, 0, 255, 0.45),
        inset 0 0 12px rgba(0, 234, 255, 0.25);

    pointer-events: none;
}
.card-title {
    text-align: center;
    font-family: var(--font-display);
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-top: -10px;

    color: var(--text-primary);
    text-shadow: 0 0 8px rgba(0, 234, 255, 0.6);
}

/* ----Dato Box ----*/
.datos-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.datos-box label {
    color: var(--text-primary);
    font-family: var(--font-main);
    font-size: 0.9rem;
    white-space: nowrap;
}

.fila-full {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.fila-full select.input-c:not(.corto) {
    width: 450px;
}
.fila-flex {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.input-c.corto,
.item .input-c {
    width: 80px;
}

/* ----Alumnos Box ----*/
.alumnos-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
    align-items: center;

    width: 100%;
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px;
    padding-left: 5px;
    box-sizing: border-box;
}
.alumnos-box::-webkit-scrollbar {
    width: 4px;
}
.alumnos-box::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.alumnos-box::-webkit-scrollbar-thumb {
    background: var(--contrast-color-D);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--contrast-color-D);
}

.fila-alumno {
    display: flex;
    flex-direction: column;
    align-items: justify;
    gap: 5px;
    width: 100%;
}
.input-c.matricula {
    width: 100px;
}
.input-c.nombre {
    width: 350px;
}
.alumnos-box label {
    font-family: var(--font-main);
    color: var(--text-primary);
    font-size: 0.9rem;

    width: 80px;
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}

@media (max-width: 650px) {
    .modal-content {
        width: 90%;
    }
    .modal-content .expo-card,
    .expo-card {
        width: 100% !important;
        padding: 1.5rem 0.8rem;
        margin-bottom: 2rem;
    }
    .modal-content .text-main {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        letter-spacing: 1px;
    }
    .card-title {
        font-size: 1rem;
        margin-top: 5px;
    }

    /*---Datos box---*/
    .datos-box {
        gap: 10px;
        width: 100%;
    }
    .fila-full {
        flex-direction: row !important;
        width: 120%;
    }
    .fila-full select.input-c:not(.corto) {
        width: 60% !important;
    }
    .fila-flex {
        flex-direction: row !important;
        justify-content: space-between;
        gap: 5px;
        width: 100%;
    }
    .fila-flex .input-c {
        width: 80px !important;
        min-width: 50px;
        max-width: 80px;
    }

    /*---Alumnos box---*/
    .alumnos-box {
        padding-right: 10px;
        max-height: 220px;
    }
    .fila-alumno {
        width: 100%;
        gap: 5px;
    }
    .alumnos-box .item {
        justify-content: flex-start;
    }
    .alumnos-box label,
    .datos-box label {
        font-size: 0.75rem;
    }
    .input-c.nombre {
        width: 170px !important;
    }
    .input-c.matricula {
        width: 80px !important;
    }
    .alumnos-box {
        max-height: 200px;
        gap: 15px;
    }
    .close-modal {
        right: 0px;
        top: -5px;
        font-size: 1.8rem;
    }
    
}

/*ajuste para que no se mueva la barra*/
body.modal-open {
    overflow: hidden;
    padding-right: 15px;
}

/*animaciones*/
.modal-overlay.modal-open {
    opacity: 1;
    visibility: visible;
}
.modal-overlay.modal-open .modal-content {
    opacity: 1;
    transform: scale(1);
}
