/*------------ Alerts --------*/
@import url(/resources/css/tokens.css);

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 21, 29, 0.85);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}

.modal-content {
    margin-inline: 5%;
    background: var(--blue-950);
    border: 1px solid var(--blue-600);
    border-radius: 20px;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 30px rgba(95, 226, 255, 0.15);
    animation: modalUp 0.4s ease-out;
}

.modal-title {
    font-family: var(--kodchasan-font);
    color: var(--blue-100);
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.modal-message {
    font-family: var(--inter-font);
    color: var(--white);
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.btn-blue {
    color: var(--white);
    background: linear-gradient(
        90deg,
        var(--blue-100) 0%,
        var(--blue-600) 100%
    );
}

.btn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    border: none;
}