@import url(/resources/css/tokens.css);

.container-carousel-c {
    background: rgb(74, 74, 74);
    border: 2px solid red;
    width: 95%;
    justify-self: center;
    overflow-x: auto;
    display: flex;
}

.container-carousel-c::-webkit-scrollbar {
    display: none;
}

.carousel-backbtn-c {
    font-size: 4rem;
}

.carousel-nextbtn-c {
    font-size: 4rem;
}

.carousel-group-c {
    display: flex;
    /*animation: spin-rTOl 10s infinite linear;*/
}

.card-test {
    color: white;
    font-size: 5rem;
    text-align: center;
    align-content: center;
    background: blue;
}

@keyframes spin-rTOl {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

@keyframes spin-lTOr {
    from {
        translate: 0;
    }
    to {
        translate: 100%;
    }
}
