@import url(/resources/css/tokens.css);

.role-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    background: var(--bag-sidebar);

    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.sidebar-top {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

.logo-sidebar {
    width: 80px;
    height: auto;
    object-fit: contain;
    margin-bottom: 5px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    color: var(--text-primary);
    font-family: var(--font-body);
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.25s ease;
}

.sidebar-icon {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.sidebar-item:hover {
    transform: translateY(-2px);
    filter: drop-shadow(0 0 4px var(--hover-btn2));
}

.sidebar-bottom {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.sidebar-toggle {
    display: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.sidebar-toggle span {
    width: 26px;
    height: 3px;
    background: linear-gradient(
        90deg,
        var(--contrast-color-A),
        var(--contrast-color-B)
    );
    border-radius: 2px;
}

@media (max-width: 650px) {
    .role-sidebar {
        width: 100%;
        height: 64px;
        padding: 0 1rem;
        flex-direction: row;
        align-items: center;
    }
    .sidebar-top {
        display: flex;
        justify-content: center;
        flex: 1;
        padding: 0;
    }
    .logo-sidebar {
        width: 60px;
        position: fixed;
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
    }
    .sidebar-toggle {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .sidebar-toggle:hover {
        filter: drop-shadow(0 0 2px var(--hover-btn2));
    }

    .sidebar-nav {
        position: fixed;
        top: 80px;
        left: -260px;
        width: 100px;
        height: auto;
        background: transparent;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        transition: left 0.3s ease;
    }
    .sidebar-bottom {
        position: fixed;
        top: 64px;
        height: auto;
        left: -100%;
        width: 100px;
        background: transparent;
        display: flex;
        justify-content: center;
        transition: left 0.3s ease;
        margin-top: 200px;
    }

    .role-sidebar.open .sidebar-nav,
    .role-sidebar.open .sidebar-bottom {
        left: 0;
    }

    .sidebar-item {
        flex-direction: row; /* Icono al lado del texto */
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 10px;
    }
    .sidebar-icon {
        margin-left: 10px;
        width: 40px;
        height: 30px;
    }
    .sidebar-item span {
        font-size: 0.6rem;
    }
}
