.glassContainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 30px;
}

.glassContainer::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    background-color: rgba(52, 132, 134, 0.223);
    border-radius: 30px;
    -webkit-box-shadow:
        inset 2px 2px 0px -2px rgba(167, 255, 233, 0.7),
        inset 0 0 3px 1px rgba(167, 230, 255, 0.456);
    box-shadow:
        inset 2px 2px 0px -2px rgb(255, 255, 255),
        inset 0 0 3px 1px rgba(167, 230, 255, 0.456);
    pointer-events: none;
}

.glassContainer::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 30px;
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(5px);
    -webkit-filter: url(#container-glass);
    filter: url(#container-glass);
    overflow: hidden;
    isolation: isolate;
}

.glassBtn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    width: 70px;
    height: 70px;
    padding: 15px;
    background-color: rgba(41, 202, 255, 0.292);
    border-radius: 9999px;
    outline: none;
    border: none;
    z-index: 0;
}

.glassBtn::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    border-radius: 9999px;
    -webkit-box-shadow:
        inset 2px 2px 0px -2px rgba(167, 230, 255, 0.7),
        inset 0 0 3px 1px rgba(167, 230, 255, 0.456);
    box-shadow:
        inset 2px 2px 0px -2px rgba(167, 230, 255, 0.7),
        inset 0 0 3px 1px rgba(167, 230, 255, 0.456);
    background-color: rgba(255, 0, 0, 0.1);
}

.glassBtn::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 9999px;
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.5px);
    -webkit-filter: url(#btn-glass);
    filter: url(#btn-glass);
    overflow: hidden;
    isolation: isolate;
}

.glassBtn svg {
    width: 100%;
    height: 100%;
    stroke: #92defa;
}
