@import url(/resources/css/tokens.css);

body {
    height: auto;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-size: 30px;
}

.BrunoAce-font {
    color: var(--clr-white);
    font-family: var(--font-display);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section-proyecto-materia {
    color: var(--clr-blue-100);
    text-transform: uppercase;
}

.section-proyecto-nombre {
    justify-self: center;
}

.navbar {
    justify-content: space-between;
    z-index: 9 !important;
}

.hero-logo-container {
    justify-self: left;
    display: flex;
    flex-direction: column;
}

.hero-logo {
    justify-self: left;
    position: absolute;
    z-index: 9 !important;
    width: 4rem;
    filter: brightness(85%);
}

.hero-banner {
    height: 85%;
    position: relative;
    top: 12%;
    filter: blur(5px);
}

.hr-gradient {
    width: 80%;
    height: 0px;
    flex-shrink: 0;
    margin-top: 10px;
    z-index: 7 !important;
    border-radius: 63px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: linear-gradient(
        270deg,
        var(--clr-blue-800) 2.34%,
        var(--clr-blue-200) 49.54%,
        var(--clr-blue-800) 100%
    );
}

.container-proyecto {
    justify-content: center;
    display: grid;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    text-align: center;
}

.section-proyecto-info {
    justify-content: center;
    justify-self: center;
}

.container-proyecto-info {
    margin-inline: 1rem;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: 2rem;
}

.container-proyecto-info p {
    color: var(--clr-white);
    font-family: var(--font-main);
    font-weight: 700;
}

.section-proyecto-header {
    padding: 1.3rem;
    position: absolute;
    justify-content: center;
    justify-self: anchor-center;
    width: inherit;
    top: 28%;
}

.container-baner {
    display: grid;
    overflow: hidden;
    grid-template-columns: auto;
}

.img-proyecto {
    width: 160px;
    height: 159px;
    box-shadow: var(--clr-purple-transparent) 0px 0px 50px 4px;
    border-radius: 40px;
    border-width: 1.5px;
    border-style: solid;
    border-color: var(--clr-purple-200);
    border-image: initial;
    background: 50% center / cover no-repeat var(--clr-white);
}

.video-project {
    border: 1.5px solid var(--clr-blue-200);
    background: var(--clr-white) 50% / cover no-repeat;
    box-shadow: 0px 4px 50px 4px var(--clr-blue-transparent);
    width: 80vw;
    min-height: 100%;
    height: auto;
}

.container-proyecto-video {
    display: flex;
    justify-content: center;
}

.container-proyecto-equipo {
    justify-content: center;
}

.container-proyecto-equipo p {
    color: var(--clr-white);
}

.equipo-nombres {
    justify-self: center;
    margin-inline: 1rem;
    text-align: center;
}

.equipo-nombres p {
    color: var(--clr-white);
    font-family: var(--font-alt);
    text-transform: uppercase;
    text-justify: center;
}

.equipo-head {
    margin-top: 1rem;
    align-self: center;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-self: center;
}

.equipo-head-equipo {
    margin: 0rem;
}

@media (max-width: 590px) {
    .section-proyecto-materia {
        font-size: 1.2rem;
    }

    .section-proyecto-nombre {
        font-size: 1.2rem;
    }
}

@media (max-height: 605px) {
    .hero {
        overflow: visible;
    }

    .hero-banner {
        height: 110%;
    }
}

@media (max-height: 350px) {
    .hero-banner {
        top: 55%;
    }
}

@media (max-height: 425px) {
    .container-proyecto-info {
        margin-top: 7rem;
    }
}

@media (min-width: 1340px) {
    .hero-logo {
        justify-self: left;
        position: absolute;
        z-index: 9 !important;
        width: 6rem;
        filter: brightness(85%);
    }

    .section-proyecto-info {
        display: grid;
        grid-template-columns: auto auto;
        width: -webkit-fill-available;
        padding-inline: 5rem;
    }

    .container-proyecto-info {
        margin-inline: 1rem;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
        margin-top: 2rem;
        padding-inline: 1rem;
        width: 28rem;
    }

    .container-proyecto-video {
        display: flex;
        justify-content: center;
        margin: 3rem;
        height: 30rem;
    }
}

@media (min-width: 620px) {
    .container-proyecto-info {
        margin-inline: 1rem;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
        margin-top: 2rem;
        max-width: 32rem;
        justify-self: center;
    }

    .container-proyecto-video {
        height: 35vw;
    }
}
