@import url(/resources/css/tokens.css);

h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-size: 30px;
}

.BrunoAce-font {
    color: var(--clr-white);
    font-family: var(--font-display);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.portafolio-menu {
    display: flex;
    justify-content: center;
    align-items: anchor-center;
    max-height: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn-portafolio {
    margin: 0.5rem;
    font-size: 100%;
    font-style: normal;
    border: 0rem;
    color: var(--clr-white);
    font-family: var(--font-display);
    transition: all 200ms;
    text-decoration: none;
}

.btn-portafolio:hover {
    margin: 0px;
    font-size: 1.5rem;
}

.btn-portafolio.active {
    margin: 0px;
    font-size: 2rem;
    border-bottom: 0.2rem solid var(--clr-blue-200);
}

.btn-portafolio:disabled {
    margin: 0px;
    background-color: var(--clr-black);
    font-size: smaller;
    color: var(--clr-gray);
}

.title-portafolio {
    text-align: center;
}

.section-portafolio {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content;
    justify-content: center;
    gap: 1rem;
}

.project-card-slot {
    position: static;
    padding: 1rem;
    overflow: visible;
    max-width: 15rem;
    max-height: 15rem;
    justify-self: center;
}

.project-card-container {
    width: 25rem;
    margin: 1rem;
    cursor: pointer;
    display: contents;
    position: absolute;
}

.project-card-border {
    width: 15rem;
    height: 15rem;
    flex-shrink: 0;
    border: 1px solid var(--clr-blue-indigo);
    background: rgba(217, 217, 217, 0);
    border-radius: 2rem;
    transition: all 180ms ease-out;
    background-size: cover;
    background-position: center;
}

.project-card-container:hover .project-card-border {
    border: 0.2rem solid var(--clr-pink-600);
    background: var(--clr-cian-transparent);
    box-shadow: 0px 0px 1rem 0.2rem var(--clr-blue-transparent);
    transform: scale(1.05);
    background-size: cover;
    background-position: center;
}

.project-card-info {
    align-content: end;
    height: 14rem;
    width: 14rem;
    display: inline-block;
    border-radius: 2rem;
    position: relative;
    text-align: left;
    padding: 0.5rem;
}

.project-card-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-card-container:hover .project-card-info {
    border-radius: 2rem;
    background: -moz-linear-gradient(
        top,
        var(--clr-blue-gray) 0%,
        var(--clr-blue-600) 100%
    );
    /* FF3.6+ */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%,var(--clr-blue-gray)),
        color-stop(100%, var(--clr-blue-600))
    );
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
        var(--clr-blue-600) 100%
    );
    /* Opera 11.10+ */
    background: -ms-linear-gradient(
        top,
        var(--clr-blue-gray) 0%,
        var(--clr-blue-600) 100%
    );
    /* IE10+ */
    background: linear-gradient(
        to bottom,
        var(--clr-blue-gray-transparent) 0%,
        var(--clr-blue-600) 100%
    );
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

.project-card-titulo {
    color: var(--clr-blue-gray-transparent);
    text-align: left;
    font-family: var(--font-display);
    font-size: 1.3rem;
    font-style: normal;
    line-height: normal;
    margin: 0.6rem;
    transition: all 0.3s ease-out;
}

.project-card-container:hover .project-card-titulo {
    font-style: normal;
    color: var(--clr-white);
    margin-bottom: 0rem;
}

.project-card-subtitulo {
    transition: all 0.3s ease-out;
    font-family: var(--font-main);
    font-size: 1.7rem;
    color: var(--clr-cian-transparent);
    margin: 0.6rem;
    transition: all 0.3s ease-out;
    max-height: 9rem;
    overflow: hidden;
}

.project-card-container:hover .project-card-subtitulo {
    font-style: normal;
    color: var(--clr-cian-300);
    margin-top: 0rem;
}

.hero-logo {
    bottom: 9%;
}

@media (max-width: 1130px) {
    .section-portafolio {
        margin-top: 4rem;
        grid-template-columns: min-content min-content min-content;
    }
}

@media (max-width: 870px) {
    .section-portafolio {
        grid-template-columns: min-content min-content;
    }
}

@media (max-width: 580px) {
    .section-portafolio {
        grid-template-columns: min-content;
    }
}

@media (max-width: 306px) {
    .section-portafolio {
        margin-top: 5rem;
        grid-template-columns: min-content;
    }
}
