@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

body {
    height: auto;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-size: 30px;
}

.BrunoAce-font {
    color: #fff;
    font-family: Bruno Ace;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section-proyecto-materia {
    color: #00afc4;
    text-transform: uppercase;
}

.section-proyecto-nombre {
    justify-self: center;
}

.navbar {
    justify-content: space-between;
    z-index: 9 !important;
}

.hero-logo-container {
    justify-self: left;
    display: flex;
    flex-direction: column;
}

.hero-logo {
    justify-self: left;
    position: absolute;
    z-index: 9 !important;
    width: 4rem;
    filter: brightness(85%);
}

.hero-banner {
    height: 85%;
    position: relative;
    top: 12%;
    filter: blur(5px);
}

.hr-gradient {
    width: 80%;
    height: 0px;
    flex-shrink: 0;
    margin-top: 10px;
    z-index: 7 !important;
    border-radius: 63px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: linear-gradient(
        270deg,
        rgb(11, 26, 43) 2.34%,
        #00ebd2 49.54%,
        rgb(11, 26, 43) 100%
    );
}

.container-proyecto {
    justify-content: center;
    display: grid;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    text-align: center;
}

.section-proyecto-info {
    justify-content: center;
    justify-self: center;
}

.container-proyecto-info {
    margin-inline: 1rem;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: 2rem;
}

.container-proyecto-info p {
    color: #fff;
    font-family: Kodchasan;
    font-weight: 700;
}

.section-proyecto-header {
    padding: 1.3rem;
    position: absolute;
    justify-content: center;
    justify-self: anchor-center;
    width: inherit;
    top: 28%;
}

.container-baner {
    display: grid;
    overflow: hidden;
    grid-template-columns: auto;
}

.img-proyecto {
    width: 160px;
    height: 159px;
    box-shadow: rgba(153, 88, 245, 0.25) 0px 0px 50px 4px;
    border-radius: 40px;
    border-width: 1.5px;
    border-style: solid;
    border-color: rgb(153, 88, 245);
    border-image: initial;
    background: 50% center / cover no-repeat lightgray;
}

.video-project {
    border: 1.5px solid #368be6;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 50px 4px rgba(54, 139, 230, 0.3);
    width: 80vw;
    min-height: 100%;
    height: auto;
}

.container-proyecto-video {
    display: flex;
    justify-content: center;
}

.container-proyecto-equipo {
    justify-content: center;
}

.container-proyecto-equipo p {
    color: #fff;
}

.equipo-nombres {
    justify-self: center;
    margin-inline: 1rem;
    text-align: center;
}

.equipo-nombres p {
    color: #fff;
    font-family: League Spartan;
    text-transform: uppercase;
    text-justify: center;
}

.equipo-head {
    margin-top: 1rem;
    align-self: center;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-self: center;
}

.equipo-head-equipo {
    margin: 0rem;
}

@media (max-width: 590px) {
    .section-proyecto-materia {
        font-size: 1.2rem;
    }

    .section-proyecto-nombre {
        font-size: 1.2rem;
    }
}

@media (max-height: 605px) {
    .hero {
        overflow: visible;
    }

    .hero-banner {
        height: 110%;
    }
}

@media (max-height: 350px) {
    .hero-banner {
        top: 55%;
    }
}
