@import url(/resources/css/tokens.css);

body {
    background: var(--bg-page-gradient);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-color: var(--bg-flat);
}
.main-content {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-main {
    color: var(--contrast-color-D);
    font-family: var(--font-display);
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 350px));
    gap: 40px;
    width: 90%;
    max-width: 1200px;
    padding-bottom: 50px;
}

.card-project {
    position: relative;
    background: var(--bg-card);
    border-radius: 20px;
    padding: 0.6rem 2rem;
    display: flex;
    flex-direction: column;
}

.card-project::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px 3px 3px 1.5px;
    border-radius: 18px;

    background: conic-gradient(
        from -70deg,
        var(--contrast-color-C),
        var(--contrast-color-D),
        var(--contrast-color-E),
        var(--contrast-color-E)
    );

    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    box-shadow:
        0 0 12px rgba(127, 0, 255, 0.45),
        inset 0 0 12px rgba(0, 234, 255, 0.25);

    pointer-events: none;
}
.project-title {
    color: var(--text-primary);
    font-family: var(--font-tech-accent);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: -18px;
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 234, 255, 0.8);
}

.project-subtitle {
    color: var(--contrast-color-D);
    font-family: var(  --font-title-bold);
    width: 70%;
    font-size: 1.1rem;
    font-weight: semibold;
    margin-bottom: 3px;
    align-self: center;
    text-align: center;
}
.token-container {
    background: var(--bg-flat);
    padding: 5px 15px;
    width: 100%;
    border-radius: 8px;
    font-family: var(--font-readability);
    font-size: 0.8rem;
    color: var(--text-primary);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 5px auto;
    box-sizing: border-box;
}

.token-container span {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-copy {
    background: var(--gradient-E);
    border: none;
    color: var(--text-primary);

    width: 28px;
    height: 28px;
    min-width: 28px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.btn-copy:hover {
    transform: scale(1.1);
}

.btn-copy img {
    width: 15px;
    height: auto;
}

.project-members {
    text-align: left;
    width: 85%;
    font-size: 0.8rem;
    font-family: var(--font-readability);
    color: var(--text-primary);
    font-weight: regular;
    margin: 10px 0 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.member-item {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}
.member-item p {
    margin: 2px;
    padding: 0;
}

.status-check {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 20px;
}

.status-check input[type="checkbox"] {
    display: none;
}

.status-check label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-readability);
    color: var(--text-primary);
    font-size: 0.9rem;
    cursor: pointer;
}

.status-check label::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid var(--text-primary);
    border-radius: 2px;
    background: transparent;
    display: inline-block;
    transition: all 0.2s ease;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.status-check input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 12px;
    color: var(--text-primary);
    background: transparent;
}

.status-check:hover label::before {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.btn-action {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    border: none;
}
.btn-action i {
    pointer-events: none;
    font-size: 1.5rem;
    font-weight: 1000;
    opacity: 0.9;
}
.btn-action img {
    width: 30px;
    height: 30px;
}
.btn-action.edit {
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1a4f95 0%, #0d254600 100%);
    color: var(--text-primary);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.btn-action.help {
    background: transparent;
    border: 2px solid var(--contrast-color-D);
    color: var(--contrast-color-D);
}

.btn-action:hover {
    transform: translateY(-3px);
    filter: brightness(2);
    box-shadow: 0 0 10px var(--hover-btn);
}

.btn-action.help:hover {
    background: var(--contrast-color-D);
    color: var(--bg-flat);
    box-shadow: 0 0 10px var(--contrast-color-D);
}

@media (max-width: 650px) {
    .main-content {
        margin-left: 0;
        margin-top: 50px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .text-main {
        font-size: 1.2rem;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    .projects-grid {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 20px;
        justify-content: center;
        justify-items: center;
    }
    .card-project {
        width: 90%;
        max-width: 240px;
    }

    .expo-card {
        width: 100% !important;
        box-sizing: border-box;
    }

    .project-title {
        font-size: 1.2rem;
    }

    .project-subtitle {
        font-size: 0.8rem;
    }

    .token-container {
        padding: 2px 15px;
        gap: 5px;
    }

    .token-container span {
        font-size: 0.65rem;
    }

    .project-members {
        font-size: 0.67em;
    }

    .status-check label {
        font-size: 0.8rem;
    }
    .status-check label::before {
        width: 10px;
        height: 10px;
    }

    .btn-action {
        width: 40px;
        height: 40px;
    }
}
