<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>EXPO LMAD - Base</title>
    <link rel="stylesheet" href="../css/template.css" />
  </head>

  <body>
    <div class="bg-navbar d-none"></div>
    <header class="hero">
      <img
        src="../assets/expolmadimg.png"
        alt="EXPO LMAD"
        class="hero-banner"
      />
      <nav class="navbar unselectable">
        <div class="navbar-actions">
          <button class="btn-menu" aria-label="Menú" onclick="showButtons()">
            <img src="../assets/btn-burger-grad.png" alt="" />
          </button>

          <a href="#" class="btn btn-purple">Prueba</a>
          <a href="#" class="btn btn-darkpur">Prueba</a>

          <a href="#" class="btn btn-ghost">Portafolio</a>
          <a href="#" class="btn btn-blue">Iniciar Sesión</a>
        </div>
      </nav>
    </header>

    <article class="card-info">
      <span>EXPO LMAD - Mayo - 2026</span>
      <img src="../assets/icon-arrow-down.png" alt="" />
    </article>

    <script src="../scripts/showButtonMenu.js"></script>
  </body>
</html>
