@import url(/resources/css/tokens.css);

body {
    background: var(--bg-page-gradient);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-color: var(--bg-flat);
}

.main-content {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-main {
    color: var(--contrast-color-D);
    font-family: var(--font-display);
    font-size: 2.2rem;
    font-weight: 300;

    text-align: center;

    margin-bottom: 3rem;
    margin-top: 1.5rem;
}
.line {
    display: block;
    width: 500px;
    height: 2.5px;
    margin: -1.4rem auto 2rem;
    background: linear-gradient(
        to right,
        transparent,
        var(--contrast-color-D),
        transparent
    );
    animation: slideInLeft 0.6s ease-out;
}

/*stats*/
.projects-header {
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
}
.stats-grid-projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}
.stat-mini-card {
    background: var(--bg-page-gradient-invert);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stat-value {
    font-family: var(--font-main);
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--text-primary);
    line-height: 1;
}
.stat-label {
    font-family: var(--font-alt);
    font-size: 1.4rem;
    color: var(--text-primary);
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}

/*Botones*/
.filter-tabs {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 1rem;
}
.tab-btn {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 16px;
    color: var(--text-primary);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 54px;
    flex-shrink: 0;
    transition: all 0.3s ease;
}
.tab-btn.cian {
    background: var(--gradient-btn-positive);
    opacity: 0.7;
}
.tab-btn.morado {
    background: var(--gradient-E);
    opacity: 0.7;
}
.tab-btn.active {
    transform: translateY(-2px);
    opacity: 1;
}
.tab-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.proyectos-content {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}
.subtitle {
    font-family: var(--font-display);
    color: var(--text-primary);
    font-weight: 200;
    font-size: 1.8rem;
    margin-bottom: 30px;
    text-align: center;
}
.filter-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}
.select-group {
    display: flex;
    align-items: center;
    gap: 15px;
}
.select-group label {
    color: var(--text-primary);
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 1.2rem;
}
.select-group select {
    background: var(--input-flat);
    color: var(--text-primary);
    font-family: var(--font-main);
    border: 0px;
    padding: 12px 15px;
    border-radius: 8px;
    width: 420px;
}
