@import url(/resources/css/tokens.css);

body {
    padding: unset;
}

main {
    padding-top: 45px;
    padding-inline: 3%;
}

h1 {
    text-align: center;
    font-family: var(--font-display);
    color: var(--clr-blue-100);
    font-weight: 100;
}

.section-events-create {
    justify-self: center;
    width: 100%;
}

.expo-card {
    background: linear-gradient(0deg, #111b2c, #131f33);
    display: flex;
    justify-content: center;
    width: auto;
    height: fit-content;
    padding: 1.5rem;
    position: relative;
    border-radius: 18px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.expo-card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px 3px 3px 1.5px;
    border-radius: 18px;

    background: conic-gradient(
        from -70deg,
        var(--contrast-color-C),
        var(--contrast-color-D),
        var(--contrast-color-E),
        var(--contrast-color-E)
    );

    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    box-shadow:
        0 0 12px rgba(127, 0, 255, 0.45),
        inset 0 0 12px rgba(0, 234, 255, 0.25);

    pointer-events: none;
}

.container-events-create {
    padding: 2rem;
}

.div-events-create {
    display: grid;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.div-events-create span {
    color: var(--clr-white);
    font-family: var(--font-main);
}

.input-c {
    background: var(--input-flat);
    border: 0;
    border-bottom: 3px solid var(--contrast-color-D);
    border-radius: 10px;
    color: var(--text-primary);
    font-family: var(--font-main);
    padding: 7px 6px;
    outline: none;
    text-align: center;
    position: relative;
    text-align: left;
    font-size: 0.8rem;
    width: -webkit-fill-available;
}

.checkbox-description {
    text-align: left;
}

.checkbox-card {
    margin-bottom: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.container-event-sponsor {
    display: grid;
    gap: 0.8rem;
    width: 100%;
}

.div-event-logo {
    margin-top: 3rem;
}

.d-grid-gap {
    display: grid;
    gap: 0.3rem;
    width: 100%;
}

#legend {
    font-size: 0.7rem;
    color: var(--clr-gray);
}

.blum {
    z-index: 10 !important;
    justify-content: center;
    justify-items: center;
    display: flex;
    position: relative;
    cursor: pointer;
    width: fit-content;
    margin: auto;
}

.blum::before {
    z-index: 10 !important;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(178, 178, 178, 0.1) 0%,
        rgba(255, 255, 220, 0) 70%
    );
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition:
        transform 0.3s ease-out,
        opacity 0.3s ease-out;
    mix-blend-mode: screen;
    pointer-events: none;
}

.blum:hover::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.star {
    z-index: 11 !important;
    justify-content: center;
    justify-items: center;
    display: flex;
    position: relative;
    cursor: pointer;
    width: fit-content;
    margin: auto;
}

.star::before {
    z-index: 11 !important;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    background: radial-gradient(
        circle,
        rgba(209, 208, 208, 0.268) 0%,
        rgba(255, 255, 220, 0) 60%
    );
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition:
        transform 0.3s ease-out,
        opacity 0.3s ease-out;
    mix-blend-mode: lighten;
    pointer-events: none;
}

.star:hover::before {
    z-index: 11 !important;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

#upload-photo {
    width: 3rem;
    height: 3rem;
    padding: unset;
}

#upload-photo img {
    width: 2rem;
}

.sponsor {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    transition: transform 0.3s ease;
}

.sponsor:hover {
    transform: scale(1.1);
}

.img-fluid {
    max-width: 11rem;
}

.container-sponsor-logo {
    width: auto;
    height: 10rem;
    margin-top: 3rem;
}

.section-events-list {
    margin-top: 3rem;
}

.card-event-info-sponsor h3 {
    font-family: var(--font-body);
    font-size: 1.5rem;
    text-transform: uppercase;

    background: linear-gradient(
        90deg,
        var(--clr-cian-500) 0%,
        var(--clr-purple-320) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--clr-purple-320);
}

.card-event-logo {
    display: flex;
    height: 14rem;
    align-items: center;
}

.event-data {
    margin-bottom: 1rem;
}

.div-event-time {
    display: grid;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

#event-guest {
    height: 88%;
}

@media (min-width: 650px) {
    main {
        padding: unset;
        padding-left: 120px;
    }

    .div-event-time {
        display: grid;
        gap: 0.5rem;
        margin-top: 1.5rem;
        grid-template-columns: auto auto;
    }

    .div-events-create {
        display: grid;
        gap: 1rem;
        justify-items: center;
        align-items: center;
        width: 100%;
        grid-template-columns: auto auto;
    }
}

@media (min-width: 1000px) {
    .container-events-create {
        padding: 2rem;
        margin: 5rem;
        width: 60%;
        justify-self: center;
    }

    .div-events-create {
        grid-template-columns: 50% 32%;
        justify-content: center;
        padding-inline: 1rem;
        margin-bottom: 1rem;
    }

    .div-event-logo {
        margin-top: unset;
    }

    .checkbox-card {
        margin-left: 1rem;
    }

    .event-data {
        justify-self: center;
        max-width: 30rem;
    }

    .section-events-list {
        width: 90%;
        justify-self: center;
    }
}
